body{
    background-color: rgb(241, 241, 241);

}
.text-blue{
    color: rgb(89, 146, 212);
}
.text-dark-blue{
    color: rgb(27, 6, 124);
}
.text-dark-blue:hover{
    color: rgb(27, 6, 124);
}
.btn{
    border: 2px solid rgb(162, 235, 17);

}
.yellow{
    color: rgb(155, 223, 21);
 
}
.yellowg{
    color: rgb(155, 223, 21);
 
}
.yellowg:hover{
    color: rgb(155, 223, 21);
    text-decoration: none;
}