*{
    margin: 0px;
    padding: 0px;
}
/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
 .item1{
     position: relative;
     width: 100%;
     min-height: 1px;
     padding-right: 15px;
     padding-left:15px;
     .div{
         display:block;
     }
 }
.item2{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    .div{
    display: block;
    }
}
   
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
    .item1{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }
}
    

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    
    .item1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}     

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
      
       
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
       
    
}
.item1 { grid-area: header; }
.item2 { grid-area: menu;}
.item3 { grid-area: right; }
.item4 { grid-area: left; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header menu menu menu menu'
    'header header right right left left';
  grid-gap: 10px;
  background-color: #ffffff;
 
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 0px 0;
 

